<div id="layout" class="pure-g">
    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <div class="posts">
                <h1 class="content-subhead">Blog Posts</h1><br>
                <button [routerLink]="['/add-blog']" class="btn btn-outline-secondary btn-sm" style="margin-bottom: 50px;">Create Your Blog</button>
                <span style="color: red">{{errorMessage}}</span>

                <div class="form-group col-md-3">
                    <h3>Filter</h3>
                    <input class="form-control" [(ngModel)]="searchText" placeholder="search"><br>
                    <button (click)="shuffle()" class="btn btn-secondary" style="margin-bottom: 50px;">Shuffle Blogs</button>
                </div>

                <section class="post" *ngFor="let post of postPosts | filter: searchText; index as i; ">
                    <br>
                    <header class="post-header">
                        <h2 class="post-title" [innerHTML]="post.title.rendered"></h2>
                        <p class="post-meta">
                            By <a href="{{getLink()}}" target="_blank" class="post-author">{{getDomain(post.link)}}</a> Date
                            <a routerLink="/posts">{{post.date | date:'short'}}</a>
                        </p>
                    </header>
                    <div class="post-description">
                        <p [innerHTML]="post.excerpt.rendered | slice:0:350 "></p>
                        <a class="button button1" [routerLink]="['/posts', post.id]">Read More</a>
                    </div>
                </section>

                <section class="post" *ngFor="let post of blogPosts | filter: searchText; index as i; ">
                    <br>
                    <header class="post-header">
                        <h2 class="post-title" [innerHTML]="post.title"></h2>
                        <p class="post-meta">
                            By <a routerLink="/posts" class="post-author">{{post.author}}</a> Date
                            <a routerLink="/posts">{{post.date | date:'short'}}</a>
                        </p>
                    </header>
                    <div class="post-description">
                        <p [innerHTML]="post.body"></p>
                        <a class="button button1" [routerLink]="['/posts', post.id]" style="pointer-events: none; opacity: 0.5;">Read More</a>
                        <a class="button button1" (click)="deleteBlog(post.id)" style="background-color: rgb(206, 66, 66);">Delete Post</a>
                    </div>
                </section>

            </div>
            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <div class="pure-menu-item">
                        <a href="/posts" class="pure-menu-link">Univerzitet Metropolitan / Aleksandar Ilic 3939</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
